__pycache__/
*.pyc
runs/
*.pth
*.ckpt
train_dataset/
labels/*/images
exp_data/
.DS_Store
train_dataset*/
labels/*/review/
labels/*/review_boxes/
labels/*/review_added/
labels/*/annotations.coco.before_*.json
labels/*/annotations.coco.after_*.json
